<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project2.xirpl506101216.duetomorrow">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Senin"
            android:label="@string/title_activity_welcome" />
        <activity android:name=".Selasa" />
        <activity android:name=".Rabu" />
        <activity android:name=".Kamis" />
        <activity android:name=".Jumat" />
        <activity android:name=".Sabtu" />
        <activity android:name=".edit_data" />
        <activity android:name=".vie" />
        <activity android:name=".view_da" />
        <activity android:name=".view_d" />
        <activity android:name=".view_" />
        <activity android:name=".view" />
        <activity android:name=".view_data" />


        <activity android:name=".awal"></activity>

        <activity
            android:name=".createOrEditAlert"
            android:parentActivityName=".awal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".awal" />
            />
        </activity>

        <receiver android:name=".AlarmSetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"></receiver>

        <service
            android:name=".AlarmService"
            android:enabled="true"></service>

        <activity android:name=".iwil"></activity>

        <activity
            android:name=".createOrEditNote"
            android:parentActivityName=".iwil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".iwil" />
            />
        </activity>
    </application>
</manifest>