<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.project2.xirpl506101216.duetomorrow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Senin" />
        <activity android:name=".Selasa" />
        <activity android:name=".Rabu" />
        <activity android:name=".Kamis" />
        <activity android:name=".Jumat" />
        <activity android:name=".Sabtu" />
        <activity android:name=".view_da" />
        <activity android:name=".view_data" />
        <activity android:name=".view_d" />
        <activity android:name=".view_" />
        <activity android:name=".view" />
        <activity android:name=".vie"></activity>
    </application>

</manifest>